@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center landing">
    <h1 class="display-4">
        Welcome to cyolo website!<br />
        <a href="/" class="btn btn-success">View Demo</a>
    </h1>
</div>