@using Microsoft.AspNetCore.Http

@{
    string message = (string)ViewData["Message"]!;
    bool flag = false;
    if (!string.IsNullOrEmpty(message))
    {
        flag = true;
    }
}
<ul class="navbar-nav">
@if (flag)
{
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
</ul>